.calculator {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
    ;
}

.calculator h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.calculator input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.calculator button {

    width: 45%;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator .clear-button {
    width: 95%;
    margin-top: 10px;
    background-color: #f44336;
}

.calculator button:hover {
    background-color: #45a049;
}

.calculator .clear-button:hover {
    background-color: #e53935;
}

#resultado {
    
    margin: auto; 
    padding: 10px;
    font-size: 1.2rem;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f1f1f1;
    text-align: left; 
    max-width: 240px;
    margin-top: 10px;
}


@media (max-width: 500px) {
    .calculator {
        width: 100%;
        margin: 50px auto;
    }

    .calculator input {
        width: 90%;
    }

    .calculator button {
        width: 90%;
    }
}
